body {
  margin: 0;
}
.container {
  display: flex;
}

.div1,
.div4 {
  height: 20rem;
  width: 20rem;
  background-color: grey;
}

.div2,
.div3 {
  height: 10rem;
  width: 10rem;
  background-color: black;
}

.divContainer1 {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}

.divContainer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.div2 {
  margin-top: 5rem;
}
.div3 {
  margin-bottom: 5rem;
}
