body {
  margin: 0;
}
.container {
  display: flex;
  column-gap: 5rem;
}

.div1,
.div4 {
  height: 20rem;
  width: 20rem;
  background-color: grey;
}

.div2,
.div3 {
  height: 10rem;
  width: 10rem;
  background-color: black;
}

.divContainer1 {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.divContainer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 5rem;
}
