.div1 {
  height: 30rem;
  width: 20rem;
  background-color: red;
  display: flex;
  align-items: flex-end;
}

.div2 {
  height: 15rem;
  width: 10rem;
  background-color: green;
  display: flex;
  align-items: flex-end;
  transform: translate(150%);
}

.div3 {
  height: 7.5rem;
  width: 7.5rem;
  background-color: blue;
  transform: translate(-30%, 50%);
}
